body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #68f609;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

section {
    background-color: #fff;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-bottom: 2em;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 0.5em;
}

input {
    padding: 0.5em;
    margin-top: 0.5em;
}

button {
    background-color:  #5409f6;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    margin-top: 1em;
    align-self: flex-start;
}

footer {
    background-color: #5409f6;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}